/* RoomsPage.module.css */

.tabs {
  display: flex;
  gap: 28px;
  margin: 28px 0 16px;
  border-bottom: 3px solid var(--border-light);
  padding-bottom: 12px;
  width: 100%;
  overflow-x: auto;
}

.tabs::-webkit-scrollbar {
  height: 0px; /* hide scrollbar for clean UI */
}

.tab {
  cursor: pointer;
  padding: 12px 10px;
  font-size: 18px;
  color: var(--text-secondary);
  font-weight: 500;
  position: relative;
  white-space: nowrap;
  transition: 0.22s ease;
}

.tab:hover {
  color: var(--text-primary);
}

.activeTab {
  color: var(--text-primary1);
  font-weight: 700;
}


.activeTab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 4px;
  background: #ffa116; /* yellow underline */
  border-radius: 4px;
}

/* MOBILE / TABLET RESPONSIVE */
@media (max-width: 1024px) {
  .tabs {
    gap: 20px;
    margin: 20px 0 12px;
    padding-bottom: 10px;
  }

  .tab {
    padding: 10px 8px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .tabs {
    gap: 16px;
    margin: 16px 0 10px;
    padding-bottom: 8px;
  }

  .tab {
    padding: 8px 6px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .tabs {
    gap: 12px;
    margin: 12px 0 8px;
  }

  .tab {
    padding: 6px 4px;
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  .tabs {
    margin-top: 20px;
  }
  
}

.noResultsMessage {
  margin-top: 40px; /* adjust the gap as needed */
  text-align: center;
  font-size: 18px;
  color: var(--text-secondary);
}

@media (max-width: 480px) {
  .noResultsMessage {
    font-size: 14px; /* smaller on phone */
    margin-top: 30px; /* optionally reduce gap too */
  }
}
