.myFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 30px;
}

.text {
  margin: 0;
  font-size: 16px;
}