
.home-container {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 20px;
    gap: 20px; 
}

.brand-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.logo-icon {
    font-size: 3.5rem; 
    color: #FFA116; 
}

.brand-title {
    font-size: 4rem;
    font-weight: 800;
    color: #2c3e50;
    margin: 0;
    letter-spacing: -2px;
    font-family: 'JetBrains Mono', monospace; 
}

.tagline {
    font-size: 1.2rem;
    color: #7f8c8d;
    font-style: italic;
    margin-top: -10px;
}


.search-input {
    width: 100%;
    max-width: 400px;
    padding: 15px 25px;
    font-size: 1rem;
    border: 2px solid #e0e0e0;
    border-radius: 50px; 
    outline: none;
    
}

.search-input:focus {
    border-color: #FFA116; 
}

.create-btn {
    background-color: #2c3e50;
    color: white;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}

.create-btn:hover {
    background-color: #FFA116;
    color: black;
}

header, footer {
    background: #fff;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    color: #aaa;
}

@media (max-width: 600px) {
    
    .brand-wrapper {
        flex-direction: column; 
        gap: 5px; 
    }
    .brand-title {
        font-size: 2.5rem; 
        letter-spacing: -1px; 
    }
    .logo-icon {
        font-size: 3rem; 
    }
    .search-input {
        width: 100%; 
        padding: 12px 15px; 
        font-size: 0.9rem;
    }
    .tagline {
        font-size: 1rem;
        margin-top: 0;
    }
    .home-container {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%; 
    }
}