body, html, #root {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}
.app-root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.rooms-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 0;
}

.rooms-page__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 0;
}